.cfb {
	border-collapse: collapse;
}

.cfh {
	text-align: center;
}

.cfh a:link {
	color: #808080;
	text-decoration: none;
}

.cfh a:visited {
	color: #808080;
	text-decoration: none;
}

.cfh a:hover {
	color: #0000FF;
	text-decoration: none;
}

.cfe {
	width: 30px;
	height: 30px;
	background-image: url('cell.png');
	border: 1px solid black;
}

.cfr {
	width: 30px;
	height: 30px;
	background-image: url('cell.png');
	background-color: red;
	border: 1px solid black;
}

.cfy {
	width: 30px;
	height: 30px;
	background-image: url('cell.png');
	background-color: yellow;
	border: 1px solid black;
}
