name: Basic Maven Build

on:
  push:
    branches: [ master ]

jobs:
  build:
    name: Maven build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
 
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'zulu'
          cache: 'maven'

      - name: Build with Maven
        run: mvn -B -V clean verify